<h1>Invoice Data Fetch</h1>

<p>Sample Invoice Data retrieval from remote SQL server.</p>

<p *ngIf="!invoices"><em>Loading...</em></p>

<table class='table' *ngIf="invoices">
    <thead>
		<tr>
			<th>Invoice Id</th>
			<th>Net Price</th>
			<th>Gross Price</th>
			<th>Vat</th>
			<th>Tax Point Date</th>
		</tr>
    </thead>
    <tbody>
		<tr *ngFor="let invoice of invoices">
			<td>{{ invoice.id }}</td>
			<td>{{ invoice.totalNet }}</td>
			<td>{{ invoice.totalGross }}</td>
			<td>{{ invoice.totalVat }}</td>
			<td>{{ invoice.taxPointDate | date:'medium' }}</td>
		</tr>
    </tbody>
</table>
